apiversion: apps/v1
kind: Deployment
metadata:
   name: nginx-deployment
   labels:
     app: nginx
spec:
  replicas: 3
  selector:
     matchlabels:
       app: nginx
  strategy:
     type: Recreate
  template:
     metadata:
       labels:
         app: nginx
     spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
      ports:
      - containerPort: 80
      resources:
          limits:
            cpu: 500m
          requests:
            cpu: 200m     
---
apiversion: apps/v1
kind: service
metadata:
 name: my-service
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port : 80
      targetport: 9376
  type: loadbalancer    




      
